<app-side></app-side>

<div class="text-title text-center">Liste des inscriptions en attente</div>
<div class="container d-flex justify-content-center align-items-center min-vh-80">
 <div class="row border rounded-5 p-3 bg-white shadow box-area formu">
        

<table class="table" *ngIf="users && users.length > 0">
   
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button class="btn btn-success  me-2" (click)="acceptUser(user._id)" [disabled]="user.etat === 1"><i class="bi bi-check-circle-fill"></i> Accepter</button>
              <button class="btn btn-danger" (click)="rejectUser(user._id)"><i class="bi bi-x-circle-fill"></i> Refuser</button>
            </td>
          </tr>
    </tbody>
  </table>
</div>
<div>

      

     
  

