<app-side></app-side>

<main class="main-content">
  <div class="container">
    <div class="text-center">

      <header class="my-4">
        <h2>list of requests</h2>
      </header>

      <table *ngIf="users && users.length > 0" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-success" (click)="acceptUser(user._id)">Accepte</button>
            <button class="btn btn-danger" (click)="rejectUser(user._id)">Refuse</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
