     <div class="text ">Liste des inscriptions en attente</div>
    <div class="main mt-4">
      <table *ngIf="users && users.length > 0" class="table  table-striped ">
        <thead class="table-light">
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="text-center">
              <button class="btn btn-success mr-3" (click)="acceptUser(user._id)" [disabled]="user.etat === 1">Accepte</button>
              <button class="btn btn-danger" (click)="rejectUser(user._id)">Refuse</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

      

     
  

