<app-navbar></app-navbar>

<div class="   justify-content-center align-items-center min-vh-100">
    <div class="row border p-3 bg-white shadow box-area formu ">
<div class="row">
    <h3 class="h3 service-title">What I'm doing</h3>
    <div class="col-sm-6 mb-3"> <!-- Added mb-3 class for margin-bottom -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>