li {
  cursor: pointer; /* Change le curseur pour indiquer que l'élément est cliquable */
  user-select: none; /* Empêche la sélection accidentelle du texte */
  border-bottom: 1px solid #ccc; /* Ajoute une bordure en bas pour chaque élément de liste */
  padding: 8px 0;
  color: #007fff;
  margin-top: 10%;
  font-weight:initial;
  font-size: large;
}
li:hover {
  color: darkblue;
}
li:not(:last-child) {
  margin-bottom: 8px; /* Ajoute de l'espace entre les éléments de liste, sauf le dernier */
}
ul {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Supprime l'espacement intérieur par défaut de la liste */
}
.main {
  /* Assurez-vous que le chemin de l'image est correct */
  background-image: url('../../assets/images/background-classe.jpg');
  height: 100%;
  /* Ajustez ces propriétés pour contrôler le comportement de l'image de fond */
  background-size: cover; /* pour s'assurer que l'image couvre tout l'arrière-plan */
  background-repeat: no-repeat; /* pour éviter la répétition de l'image */
  background-attachment: fixed; /* pour que l'image reste fixe lors du défilement */
}
