<!-- <div class="card">
  <div class="card-header">
    {{ classe.nom }}
  </div>
  <div class="card-body">
  </div>
</div> -->
<div class="background-div">
  <h1> Votre Classes</h1>
<div class="card-group card-livre">
  <div class="card m-5" *ngFor="let classe of classes">
    <img src="assets/images/image_livres.jpg" class="card-img-top" alt="image">
    <div class="card-body" (click)="navigateToMatiereDetail(classe._id)">
      <h5 class="card-title">{{ classe.nom }}<span>{{ classe.niveau}}</span></h5>
    </div>
  </div>
</div>
</div>
