<app-navbar></app-navbar>


  <div class="  p-3 bg-white shadow box-area formu ">
    <div class="row">
      <h3 class="h3 service-title">Liste des Cours</h3>
      <div *ngIf="courses.length === 0">
        <p>Aucun cours disponible.</p>
      </div>

      <ul class="list-group" *ngFor="let course of courses">
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span>
              <a (click)="download(course.id)">
                <i class="bi bi-file-earmark-pdf-fill text-danger"></i> {{ course.nom }}
              </a>
            </span>
          </div>
        </li>
        <br>
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span>
              <a (click)="redirectToAddTravail(loggedInUserId)">
                <i class="bi bi-file-earmark-arrow-up-fill text-primary"></i> Travail Rendu
              </a>
            </span>
          </div>
        </li>
      </ul>
      
    </div>
    
  </div>
