@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ signup container ------------*/

.box-area{
    width: 980px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}
.left-box{
    border-radius: 20px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}


.rounded-5{
    border-radius: 30px;
}
.color{
    background-color: #747efa;
}
.logo-signup{
    width: 450px;
}

/*---------------------*/
*, ::before, ::after {
    box-sizing: border-box;
  }
  
  
  
  h2 {
    margin: 0;
  }
  
  /*===== FORM =====*/
  .l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .form {
    
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  }
  .form__title {
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  .form__div {
    position: relative;
    height: 52px;
    margin-bottom: 1.5rem;
  }
  .form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 2px solid  #DADCE0;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
  }
  .form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background-color: #fff;
    color: #80868B;
    font-size: 1rem;
    transition: 0.3s;
  }
  .form__button {
    display: block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    background-color: #1A73E8;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .form__button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  }
  
  /*Input focus move up label*/
  .form__input:focus + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: #1A73E8;
    font-size: .75rem;;
    font-weight: 500;
    z-index: 10;
  }
  
  /*Input focus sticky top label*/
  .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    z-index: 10;
    font-size: .75rem;;
    font-weight: 500;
  }
  
  /*Input focus*/
  .form__input:focus {
    border: 2px solid #1A73E8;
  }
  .btn:hover{
    border-color: #747efa;
    color: #1A73E8;

 }
 .btn{
  color: white;
 }


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

    .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 280px;
        overflow: hidden;
        border-bottom-left-radius: 180px;
        border-bottom-right-radius: 180px;
        

     }
    
     
     .left-box p,small{
        display: none;
        
     }

     .right-box{
        padding: 20px;
     }
     .logo-signup{
        width: 350px;
    
     }
     h2,p{
        text-align: center;
     }
     .signin{
        display: block;
     }
    
     

}