<app-navbar></app-navbar>

<div class="   justify-content-center align-items-center min-vh-100">
    <div class="row border p-3 bg-white shadow box-area formu ">
        <main>

            <article class="about  active" data-page="about">

                <header>
                    <h2 class="h2 article-title text-center"style="color:#001086;">Bienvenue sur Notre Plateforme Éducative</h2>
                </header>

                <section class="about-text welcome">
                    <p>
                        Bienvenue sur notre plateforme éducative dédiée à votre apprentissage et à votre motivation personnelle! Notre objectif est de vous aider à exceller dans vos études en fournissant un accès facile et organisé à une variété de cours dans différentes matières.
                        Cette page est conçue spécialement pour vous offrir une expérience d'apprentissage enrichissante.
                    </p>
                    
                    <p>
                        Vous trouverez ici une liste complète de cours, soigneusement sélectionnés pour chaque matière au programme. Que vous cherchiez à renforcer vos compétences existantes, à explorer de nouveaux sujets ou à vous préparer à des examens, notre plateforme est là pour vous accompagner à chaque étape.
                    </p>
                </section>
                
                <h5 class="p-3 mt-3" style="color: #0060e8;font-size: 20px;"><i class="bi bi-link-45deg"></i>Liens Essentiels pour des Révisions Productives</h5>
                <div class="card-group">
                    <div class="card">
                      <img src="assets/images/cnp.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title" style="font-size:20px;font-weight: bold;">Centre national pédagogique</h5>
                        <p class="card-text">Accédez instantanément à une multitude de manuels scolaires essentiels en un seul clic grâce à notre lien dédié CNP.</p>
                        <p>Téléchargez rapidement les livres dont vous avez besoin pour vos études, simplifiant ainsi votre accès à des ressources éducatives cruciales. </p>
                      </div>
                      <div class="card-footer">
                        <a class="btn glow-on-hover" href="https://www.cnp.com.tn/CNP1/web/french/biblio/man-eleves.jsp">Acceder <i class="bi bi-browser-chrome"></i></a>
                      </div>
                    </div>
                    <div class="card">
                      <img src="assets/images/w3sch.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title" style="font-size:20px;font-weight: bold;">W3schools</h5>
                        <p class="card-text">W3Schools est la référence pour l'apprentissage du développement web. </p>
                        <p>Ses tutoriels interactifs et exemples de code simplifient l'acquisition de compétences en HTML, CSS et JavaScript. Que vous soyez débutant ou expérimenté, explorez W3Schools pour un apprentissage web rapide et efficace.</p>
                      </div>
                      <div class="card-footer">
                        <a class="btn glow-on-hover" href="https://www.w3schools.com/">Acceder <i class="bi bi-browser-chrome"></i></a>
                      </div>
                    </div>
                    <div class="card">
                      <img src="assets/images/YOUTUBE.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"style="font-size:20px;font-weight: bold;">YouTube Playlists</h5>
                        <p class="card-text">Découvrez la playlist éducative de TakiAcademy sur YouTube pour des révisions efficaces et une amélioration des compétences.</p>
                        <p>Abonnez-vous pour un contenu éducatif varié et stimulant. Préparez-vous à exceller dans vos études avec TakiAcademy!</p>
                      </div>
                      <div class="card-footer">
                        <a class="btn glow-on-hover" href="https://www.youtube.com/@TakiAcademy/playlists">Regarder <i class="bi bi-eye-fill"></i></a>
                      </div>
                    </div>
                  </div>

                

            </article>

        </main>
    </div>
</div>
