<h3>Matier!</h3>
<div class="search-box">
  <input type="text" name="" class="search-txt" [(ngModel)]="searchNom" placeholder="Rechercher par nom" />
  <button type="button" class="search-btn" (click)="rechercherMatieresParNom()">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</div>

<button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#ajoutModal">Add Matier</button>
<table class="table table-hover taille">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let matiere of matieres; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ matiere.nom }}</td>
      <td>{{ matiere.description }}</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-Edit me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="preparerEdition($event, matiere)" >Edit</button>
          <!-- Bouton Delete -->
          <button class="btn btn-Delete" type="button" (click)="supprimerMatiere(matiere._id)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!--Update Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Matière</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="mettreAJourMatiere()" #updateForm="ngForm">
          <div class="mb-3">
            <label for="nom" class="form-label">Name</label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="nouvelleMatiere.nom" name="nom" required placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="nouvelleMatiere.description" name="description" required rows="3" placeholder="Description"></textarea>
          </div>
          <!-- Notez que le bouton Ajouter est à l'intérieur du formulaire -->
          <div class="modal-footer">
            <button type="button" class="btn close" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-Edit">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- AjoutModal -->
<div class="modal fade" id="ajoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AddMatière</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="ajouterMatiere()">
          <div class="mb-3">
            <label for="nom" class="form-label">Name</label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="nouvelleMatiere.nom" name="nom" placeholder="Name" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="nouvelleMatiere.description" name="description" rows="3" placeholder="Description" required></textarea>
          </div>
          <!-- Notez que le bouton Ajouter est à l'intérieur du formulaire -->
          <div class="modal-footer">
            <button type="button" class="btn close" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-Edit">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
